-e git+https://github.com/Joshua-H05/jarvis.git@cadf056e8485f9ce5cd6e594e97720d87e3bfac8#egg=jarvis
PyAudio==0.2.12
PySnooper==1.1.1

setuptools~=68.2.0
streamlit~=1.16.0
nltk~=3.8
gTTS~=2.3.0
playsound~=1.3.0
pandas~=1.5.2
scikit-learn~=1.3.0
pymongo~=4.3.3
plotly~=5.13.0
streamlit-chat~=0.0.2.1
streamlit-elements~=0.1.0
-e .


sklearn~=0.0.post1